body {
  margin: 0;
  padding: 0;
  font-family: 'Monoton', cursive;
  height: 100vh; /* Set body height to 100% of viewport height */
  display: flex; /* Use flexbox to center the chat container */
  justify-content: center;
  background-color: black;
  align-items: center;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
 


  
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
  width:6px;
  border-radius: 10px;
  border:solid 1px;
  border-color: #ffffff;
  max-height: 50%; height: 50%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  width:6px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
  width:6px;
  border-radius: 10px;
}

.chat-container {
  width: 600px;
  font-family: 'Roboto Mono', monospace;
  height: 80%; /* Set chat container height to 100% of body */
  background-color:black;
  border-top:    1px solid  rgb(255, 255, 255);
border-bottom: 1px solid rgb(255, 255, 255);
border-left:   1px solid  rgb(255, 255, 255);
border-right: 1px solid rgba(255,255,255,0);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex; /* Use flexbox to stack header, messages, and input */
  flex-direction: column;
  overflow-y: scroll;
}


.chat-header {
  font-family: 'Monoton', cursive;
  color: #ccc;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 20px;
  text-align: center;


}

.chat-messages {
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  max-width: 70%;
}

.content.sent {
  align-self: flex-end;
  background-color: #3CB371;
}

.content.received {
  align-self: flex-start;
}

.timestamp {
  font-size: 12px;
  color: #888;
  align-self: flex-end;
}

.chat-input {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bc0c0c;
  padding: 20px;
  text-align: center;
  
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(12,12,12,0);
  padding: 20px;
  text-align: center;

}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.centered-button button {
  padding: 10px 20px;
  background-color: #000000;
  font-family: 'Monoton', cursive;
  color: white;
  border-color: rgb(255,255,255);
  border-radius: 10px;
  cursor: pointer;
}

.centered-button button:hover {
  background-color:rgb(50,50,50);
}


