<!DOCTYPE html>
<html>
<head>
    <title>Chat Page</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h1>Chat Page</h1>
        </div>
        <div id="chat-messages" class="chat-messages"></div>
        <div class="chat-input">
            
            <button id="record-button" class="record-button"></button>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
